onnx==1.18.0
onnxruntime-gpu==1.22.0
numpy==2.3.2
transformers>=4.36.0,<4.54.0
evaluate==0.4.5
jiwer==4.0.0
safetensors==0.6.2
sentencepiece==0.2.1
optimum[onnxruntime]==1.27.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
